*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wrapper{
   min-height: 100%;
   overflow: clip;
}

.header--position{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: white;
}

.header__container{
   max-width: 1165px;
   margin: 0 auto;
}

.header__row{
   display: flex;
   justify-content: space-between;
   padding: 30px 0;
   align-items: center;
}

.header__all-categories{
   position: relative;
   display: inline-block;
   border-radius: 5px;
   line-height: 24px;
   padding: 9px 20px;
   background-color: #F4F7FF;
   vertical-align: middle;
   text-align: center;
   margin: 0 45px;
   
}



.header__categories-link{
   margin-right: 13px;
   font-family: "Inter";
   color: black;
   font-size: 16px;
   font-weight: 500;
   padding-bottom: 100px;
}

.header__all-categories:hover .categories-submenu{
   display: block;
}

.header__categories-arrow{
   vertical-align: middle;
}

.categories-submenu{
   position: absolute;
   top: 195%;
   left: 0;
   background-color: white;
   border-radius: 5px;
   min-width: 180px;
   padding: 22px 24px;
   display: none;
}

.categories-submenu::before{
   content: "";
   background: url(../img/triangl.png) no-repeat;
   display: inline-block;
   width: 32px;
   height: 20px;
   position: absolute;
   top: -11px;
   left: 10px;
}

.submenu__item:not(:last-child){
   margin-bottom: 13px;
}
.submenu__item{
   text-align: start;
}

.submenu__link{
   font-family: "Inter";
   color: #637381;
   font-size: 16px;
   font-weight: 400;
}
.submenu__link:hover{
   color: blue;
}

.submenu__link--fashion{
   margin-right: 60px;
   
}

.submenu__arrow{
   vertical-align: middle;
}

.categories-submenu:hover .fashion-submenu{
   display: block;
}

.fashion-submenu{
   display: inline-block;
   position: absolute;
   top: 50px;
   left: 100%;
   background-color: white;
   border-radius: 5px;
   min-width: 500px;
   padding: 30px 30px;
   display: none;
}

.fashion-submenu__item:not(:last-child){
   margin-bottom: 20px;
}

.fashion-submenu__link{
   font-family: "Inter";
   font-size: 16px;
   color: #637381;
   font-weight: 400;
}
.fashion-submenu__link:hover{
   color: blue;
}

.fashion-submenu__link--black{
   font-family: "Inter";
   font-size: 16px;
   color: black;
   font-weight: 500;
}

.header__menu{
   margin-right: 85px;
}

.menu__item{
   display: inline-block;
   font-family: "Inter";
   font-size: 16px;
   font-weight: 500;
}
.menu__item:not(:last-child){
   margin-right: 35px;
}

.menu__link{
   color: black;
   transition: all 0.3s;
}
.menu__link:hover{
   color: blue;
}


.header__icons-indent{
   margin-right: 25px;
}


.content{
   background-color: #a0b9d0;
}

.content__page{
   max-width: 1200px;
   margin: 0 auto;
   text-align: start;
   padding-top: 100px;
   font-size: 32px;
}