*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.page__container {
   max-width: 1240px;
   margin: 0 auto;
}

.page__head {
   display: flex;
   justify-content: space-between;
}

.page__head-line{
   height: 1px;
   background-color: black;
   margin: 37px 0 60px 0px;
   text-align: center;
}

.page__categories {
   padding: 6px 0;
   display: inline-block;
   margin-bottom: 45px;
}
.page__categories-link {
   font-family: "Poppins";
   font-weight: 300;
   color: #495057;
   font-size: 12px;
   transition: all 0.5s;
}

.page__categories-img{
   vertical-align: middle;
   margin: 0 0 1px 7px;
}

.page__selector {
   padding: 6px 0;
}
.page__selector-item {
   font-family: "Poppins";
   font-weight: 300;
   color: #495057;
   font-size: 12px;
}

.page__selector-item:hover{
   color: black;
}


.page__selector-item:not(:last-child){
   margin-right: 20px;
}

.page__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -15px;
   margin-bottom: 60px;
}

.page__column {
   flex: 0 1 33.333%;
   padding: 0 15px;
}

.page__item {
   position: relative;
   
}
.page__img {
   margin-bottom: 30px;
   overflow: hidden;
}
.page__img img{
   transition: all 0.3s;
}
.page__img img:hover{
   transform: scale(1.1);
}

.page__btm {
   position: absolute;
   top: 30px;
   left: 300px;
   background-color: rgba(33, 37, 41, 0.3);
   font-family: "Poppins";
   font-size: 8px;
   line-height: 20px;
   font-weight: 600;
   padding: 3px 12px;
   border-radius: 5px;
}

.page__btm a{
   color: white;
   padding: 5px;
   transition: all 0.3s;
}

.page__btm:hover{
   background-color: #29333a;
   transition: all 0.3s;
}

.page__data {
   font-family: "Poppins";
   font-size: 12px;
   font-weight: 200;
   color: #495057;
   margin-bottom: 30px;
}


.page__title {
   font-family: "Poppins";
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 15px;
}

.page__subtitle {
   font-family: "Poppins";
   font-size: 12px;
   font-weight: 200;
   color: #495057;
   margin-bottom: 15px;
}
.page__autor {
   font-family: "Poppins";
   font-size: 12px;
   font-weight: 200;
   color: #495057;
   margin-bottom: 30px;
}
.page__foot-btm {
   margin-bottom: 50px;
   text-align: center;
   transition: all 0.3s;
   
}
.page__foot-btm a{
   display: inline-block;
   font-family: "Poppins";
   font-size: 14px;
   font-weight: 400;
   background-color: #212529;
   line-height: 28px;
   padding: 12px 50px;
   text-align: center;
   border-radius: 5px;
   transition: all 0.3s;
}

.page__foot-btm a:hover{
   transform: scale(1.1);
   background-color: #272c30;
}

.page__foot-btm span{
   color: white;
}


